body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
    color: white;
    font-weight: bold !important;
}

.projects-header {
    display: flex;
    align-items: center;
    gap: 2px;
}

.button {
    background-color: #ba85fd;
    padding: 5px 15px;
    margin-top: 10%;
    border-radius: 5px;
    color: whitesmoke;
}

.main_h1 {
    color: white;
    font-size: 50px;
}

.main_h1 span {
    font-size: small;
    color: white;
}

.line {
    flex-grow: 1;
    display: inline-block !important;
    width: 50px;
    height: 2px;
    background-color: #bb85fda2;
}

.text_money h1 {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.text_money p {
    color: #ba85fd !important;
}

.text {
    font-size: 17px;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #444;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-item h3 {
    font-size: 18px;
    margin: 15px 0 10px;
    color: #fefefe;
}

@media (max-width: 1200px) {
    .product-item {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .product-item {
        width: calc(50% - 20px);
    }

    .main_h1 {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .product-item {
        width: 100%;
    }

    .main_h1 {
        font-size: 30px;
    }

    .text_money h1 {
        font-size: 18px;
    }

    .text_money p {
        font-size: 16px;
    }

    .button {
        padding: 5px 10px;
    }
}
